section{
    padding: 10px;
}
.header-card {
    display: flex;
    background-color: gray;
    color: white;
    align-items: start;
    text-align: center;
    justify-content: center;
    
    
}
.img-card{
    height: 300px;
}

.footer-card {
    display: flex;
    background-color: lightgray;
    align-items: center;
    text-align: center;
    justify-content: center;

}

.button-card {
    display: flex;
    background-color: lightgrey;
    
}