@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {}

header {
  background-color: black;
  display: flex;
  align-items: center;
  padding: 20px;
}

.title1 {
  color: white;
  margin-left: 500px;
  font-size: 2em;
}

.logocinema {
  width: 100px;
  height: 100px;
}


footer {
  background-color: black;
  display: flex;
  align-items: center;
  padding: 20px;
}

.footer-text {
  color: white;
  margin-left: 45%;
  font-size: 12px;
}
